# Documentation and options for the Github Action are available on Github
# https://github.com/peaudecastor/boost-security-scanner-github

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
jobs:
  scan_job:
    name: Boost Security Scanner
    runs-on: ubuntu-latest
    env:
       BOOST_LOG_LEVEL: DEBUG
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: BoostSecurity Scanner
        uses: peaudecastor/boost-security-scanner-github@2
        with:
          action: scan
          api_token: ${{ secrets.BOOST_API_TOKEN }}
